.footer, .prefooter {
  min-height:30vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.prefooter {
  background: black;
  li {
    color: white;
    list-style: none;
  }
}

.footer {
  img {
    height:50px;
  }
  &__socials {
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
  }
}
